@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");


* {
    box-sizing: border-box;
}


body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}


header {
    background-color:#373b69 ;
    padding: 1.5rem; 
    display: flex;
    justify-content: flex-end;
}
.search {
    padding: 0.5rem 1rem ;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #22254b;
    font-size: 1rem;
    color: #fff;
}
.search::placeholder {
    color: rgba(238, 238, 238, 0.456);
}
.search:focus {
    outline: none;
    background-color: #22254b;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 300px;
    border-radius: 3px;
    background-color: #373b69;
    margin: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

}

.movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #eee;
    letter-spacing: 1px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    padding: 0.5rem;
    font-weight: bold;
}


img {
    max-width: 100%;
}


.movie-info span.green {
    color: green;
}

.movie-info span.orange { 
    color: orange;
}

.movie-info span.red {
    color: red;
}

